<meta charset="UTF-8">


<div id="panel" th:fragment="panel">
	<a th:href="@{/}"><div id="panelbox1">Coffee&Tea SHOP</div></a>
	<div sec:authorize="isAnonymous()">
		<a th:href="@{/register}"><div class="panelbox2">Sign Up</div></a>
		<a th:href="@{/loginform}"><div class="panelbox2">Login</div></a>
	</div>
	<div sec:authorize="isAuthenticated()">
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/adminpanel}"><div class="panelbox2">My Account</div></a>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
  			<a th:href="@{/userpanel}"><div class="panelbox2">My Account</div></a>
		</div>
    	<div style="float:left">
    		<form th:action="@{/logout}" method="post">
				<input type="submit" class="logoutbutton" value="Logout" />
			</form>
		</div>
	</div>
	<div style="clear:both"></div>
</div>

<div id="menu" th:fragment="menu">
</div>

<div id="content" th:fragment="content">
</div>

<div id="footer" th:fragment="footer">
	Copyright &copy Online Shop created by Kacper Wolczyk
</div>